.nav{
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    padding: 10px 40px;
    color: aliceblue;
    align-items: center;
    
}

.nav p{
    font-size: 25px;
    font-weight: 600;
}


.troll-face{
    height: 40px;
    width: max-content;
    margin-right: 10px;
}

.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: auto;
    position: relative;
    left: 100%;
    margin: 10px;
}

.meme-input{
    display:flex;
    flex-direction: row;
    margin-top: 150px;
}

input{
    color: black;
}

#shut-up, #take-money{
    padding:10px 20px;
    margin: 10px;
    background-color: aliceblue;
    border: 1px solid rgb(151, 147, 147);
    border-radius: 10px;
}


.top-txt , .bottom-txt {
    display: flex;
    flex-direction: column;

}

.meme-btn{
    color: aliceblue;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    padding-right: 19vh;
    padding-left: 19vh;
    margin-bottom: 20px;
}

.meme-img{
    height: 500px;
    width: 450px;
}